<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Parm test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
	<php>
		<var name="db_namespaced_host" value="localhost" />
        <var name="db_namespaced_username" value="travis" />
        <var name="db_namespaced_password" value="" />
        <var name="db_namespaced_name" value="parm_namespaced_tests" />
        <var name="db_namespaced_port" value=""/>
		<var name="db_global_host" value="localhost" />
        <var name="db_global_username" value="travis" />
        <var name="db_global_password" value="" />
        <var name="db_global_name" value="parm-global-tests" />
        <var name="db_global_port" value=""/>
		<var name="mysql_timezones_loaded" value="0"/>
    </php>
    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/build/coverage/" title="Parm Test Coverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70" />
    </logging>
</phpunit>