<?php

spl_autoload_register(function($class) {
	
	if(strpos($class, "{{nameSpace}}") !== false)
	{
		require_once dirname(__FILE__) . '{{DIRECTORY_SEPARATOR}}' . substr($class, {{nameSpaceLength}}) . '.php';
	}
});

?>
