<?php{{formattedRequireStatement}}

class {{className}}Factory extends {{className}}DaoFactory
{
	function __construct()
	{
		parent::__construct();
	}

	function loadDataObject($row = null)
	{
		return new {{className}}($row);
	}
}

class {{className}} extends {{className}}DaoObject
{
	function __construct($row = null)
	{
		parent::__construct($row);
	}

	function getFactory()
	{
		return new {{className}}Factory();
	}
}

?>