
@media (max-width: 980px) {
  .container {
   	padding-left: 20px;
    padding-right: 20px;
  }
}

body
{
	background: rgb(252, 252, 252);
	margin: 0;
	padding: 0;
}

h1
{
	font-weight: 200;
	font-size: 32.5px;
}

.white
{
	background: #fff;
}

#pageTop
{
	padding: 8px 0;
	background: #fff;
	border-bottom: 1px solid #ddd;
}

	#pageTop img
	{
		height: 20px;
		padding-top: 5px;
	}
	
	
#pageFooter
{
	margin-top: 200px;
	opacity: .3;
	font-size: 12px;
	text-align: left;
}

.larger-nav-stacked li a
{
	font-size: 1.5em;
	padding: 15px;
}

.larger-nav-stacked li a i
{
	color: #000;
}

.larger-nav-stacked li a img:first-child
{
	height: 1.2em;
	padding: 2px;
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: #E7F4DD;
}

#list-of-tables-navbar a
{
	float:right;
	text-decoration: none;
	text-shadow: 0 1px 0 #ffffff;
}

#list-of-tables li.active a
{
	background: #0088cc;
	color: #fff;
}